#shorten{
	height: 70px;
  width: 70%;
  padding-top: 40px;
  	
	margin: auto;
}

#result {
  padding-top: 100px;
  height: 60px;
  width: 70%;
	margin: auto;
}
#merabox{

  width: 70%;

	height: 60px;
  margin: auto;
}

#meraheader{
  
  margin: auto;

}


